/*### default ###*/

body{margin:0; padding:0; background: #FFFFFF;}

/*### common layout ###*/

.wrapper{width:730px; margin:0 auto; background:#FFF; overflow:hidden;}

.wideWrapper{width:730px;margin:0 auto;background:#FFF; overflow:hidden;}

.wrapperHP{width:730px;margin:0 auto;background:#FFF; overflow:hidden;}

.wrapperOrganize{width:730px;margin:0 auto; background:#FFF; overflow:hidden;}

.header{position:relative;}
.header .langBar{margin:0; padding:0; position:absolute; left:610px; top:40px;}
.header .langBar li{margin:0; padding:0; list-style:none; display:inline-block;}