/*### default ###*/

/*
 spostato nel file relativo al cobrnad common-XXX.css
body{margin:0; padding:0; background: #FFFFFF url('../images/background_skin.jpg') center 0 no-repeat fixed;}
*/
body, input, textarea, select{font: normal 8pt Verdana, Arial, Helvetica; color:#333333;}

input[type='text'], input[type='password'], textarea, select, input.textField{border:solid 1px #999999; background:#FFFFFF; margin:0;}

a, a:visited, a:hover{text-decoration: none; color:#333333;}

a:hover{text-decoration: underline;}

img{border:0;}

p{margin:0; padding:10px 0 0 0;}

h1{margin:0; padding:5px 0 0 0; font: 900 12pt Verdana; color:#333333;}

h2{margin:0; padding:20px 0 3px 0; font: 900 9pt Verdana; color:#488F3C;}

h3{margin:0; padding:15px 0 3px 0; font: 900 8pt Verdana; color:#488F3C;}

table{border-collapse: collapse;}

td, th{padding:10px 5px 0 0; text-align:left;}



th{font-size:8pt;}

form{padding:0; margin:0;}

small{font-size:7pt;}

big{font-size:9pt;}
/*### utils ###*/


.disable{color:#999999;}

.light, a.light, a.light:visited,  a.light:hover{color:#666666!important;}

.left{float: left;}
.right{float: right;}

td.left{float: none; text-align: left;}
td.right{float: none; text-align: right;}

.clear{clear: both; font-size:0; padding:0; margin:0;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

.label{text-align:right; font-weight:900;}

.centred{text-align: center;}

.maximized{width:100%;}



a.btnBig, a.btnBig:visited, a.btnBig:hover{
    font-weight: bold;
    font-size:12px;
    background: #FFFFFF url('../images/bg_btnBig1.gif') 0 bottom repeat-x;
    border: solid 1px #488F3C;
    padding:5px 35px;
    color:#000000;
    text-decoration:none;
    }

.btn, a.btn, a.btn:link, a.btn:visited, a.btn:hover{
    font-weight: bold;
    font-size:10px;
    line-height:14px; /*fix ie8 */
  
    background: #488F3C;
    border: solid 1px #999999;
    padding:2px 20px;
    color:#FFFFFF;
    text-decoration:none;
    //display:inline-block;
}

input.btn{
  padding:1px 20px;
 
  //padding:0 10px;
  cursor:pointer;
}

.action2, a.action2, a.action2:link, a.action2:visited, a.action2:hover{
    background: #FFFFFF;
    border: solid 1px #666666;
    color:#666666;
}

.action3, a.action3, a.action3:link, a.action3:visited, a.action3:hover{
background:#999999;}

.action4, a.action4, a.action4:link, a.action4:visited, a.action4:hover{
    background: #FFFFFF;
    border: solid 1px #666666;
    color:#666666;
}

.action5, a.action5, a.action5:link, a.action5:visited, a.action5:hover{
    
    background: #f0f0f0;
    border: solid 1px #666666;
    color:#666666;   
}


.action6, a.action6, a.action6:link, a.action6:visited, a.action6:hover{
    background: #990000;
    border: solid 1px #666666;
    color:#FFFFFF;
}

.siteColor,
a.siteColor,
a.siteColor:visited, 
a.siteColor:hover
{color:#488F3C;}

.indent{padding-left:130px;}

.indent ul{margin:0; padding:5px 0 0 0;}

.indent li{margin:0 0 0 15px; padding:0; color:#488F3C;}



ul.errorMessage, ul.errorMessage li{color:#FF1000; margin:0; padding:0; list-style:none;}
ul.errorMessage li{padding:1px 0;}

ul.actionMessage, ul.actionMessage li{color:#333333; margin:0; padding:0; list-style:none;}
ul.actionMessage li{padding:5px 0 0 0;}

p.errorMessage{color:#FF1000; margin:0; padding:0; list-style:none;}

.errorMessage{color:#FF1000;}

.subTitleEv{/*border-bottom: dashed 1px #488F3C;*/ margin-top:25px;}

.note{font-size:7pt; color:#666666; line-height:16px;}

/*### common layout ###*/
/*
 spostato nel file relativo al cobrnad common-XXX.css

.wrapper{width:980px; margin:0 auto; background:#FFF; overflow:hidden;}

.wideWrapper{width:980px;margin:0 auto;background:#FFF; overflow:hidden;}

.wrapperHP{width:980px;margin:0 auto;background:#FFF; overflow:hidden;}

.wrapperOrganize{width:980px;margin:0 auto; background:#FFF; overflow:hidden;}
*/
.header{
     
     padding:0 0 7px 0;
     
    }


.welcomeBox{float:left; font-size:9pt; color:#999999; padding:10px 0 0 0;}
.welcomeBox strong{color:#333333;}

.slideMenuWrap{float:right; position:relative;padding:10px 0 0 0;}
.slideMenuTitle{background: url('../images/pnt_dwn_light.gif') 100% center no-repeat; color:#999999; padding-right:20px; cursor:pointer; margin-right:10px; position:relative; z-index:12;}
.slideMenu{position:absolute; border:1px solid #CCCCCC; padding:40px 30px 20px 10px; width:150px; top:-10px; right:0; text-align:right; z-index:11; background:#FFF; display:none;}
.slideMenu ul{margin:0; padding:15px 0 0 0; }
.slideMenu ul li{margin:0; padding:5px 0; list-style:none;}
.slideMenu a, .slideMenu a:visited, .slideMenu a:hover, .slideMenu{color:#999999;}

.confirmMessage, .confirmMessageOff{
  background:#fffebe;
  text-align: center;
  padding:5px 0;
  min-height:10px;
  _height:10px;
  font-weight: 900;
  color:#333333;
  margin:0 0 0 105px;
  width:620px;
  
}

.introUserWrap .confirmMessage{width:auto; margin:0;}

.confirmMessageOff, #lastMessage{  background:#FFFFFF;}

.wrapperOrganize .confirmMessage, .wrapperOrganize .confirmMessageOff{margin-right:215px;}

#lastMessage{
  min-height:23px;
  _height:23px;
  padding-bottom:10px;
  
}


a.message, a.message:visited, a.message:hover{background: transparent url('../images/h-e-icon-l.gif') 0 3px no-repeat; padding:0 0 0 20px;}

.leftCol{float: left; width:82px; padding:0 0 0 12px;}

.wrapIcon{padding-bottom:5px; position:relative; z-index:1; width:82px; height:50px; overflow:hidden;}
.fixIcon{width:50px; height:50px; overflow:hidden; margin:0 auto; padding:0 0 5px 0;}


.columnMenu{padding:15px 0 10px 0;}
.columnMenu  a, .columnMenu  a:visited, .columnMenu a:hover{display: block; margin:0 0 0 0; padding:5px 7px; color:#999999; text-decoration:none;}
.columnMenu a:hover{text-decoration:underline;}
.columnMenu a.active, .columnMenu a.active:visited, .columnMenu a.active:hover{background:#f2f2f2; font-weight:900; color:#000000;}    

.centralCol{
        float: left; 
        width:624px;
        
        padding:10px 0 30px 0;
         border-left:solid 1px #cccccc;
}

.topPageWrap{border-bottom:solid 1px #cccccc; margin-left:-82px; padding-left:112px; position:relative; min-height: 45px;}

/*.topBar{padding:10px 0 0 0;}*/

.rightCol{
        float: left;
        width:240px;
        padding:0px 0px 0px 10px;
       
     
    }
    
.rightCol img{float:left;}

.rightColPrevCard{
    float: right;
        width:170px;
margin:30px 0 0 0;
text-align: center;

    }

.previewPictureCard{
        margin:10px 0 0 0;
        position: relative;
        
        width:170px;
    }

.contPictureCard{
    width:170px;
    background: transparent url('../images/picture_card_mask.gif') 0 0 no-repeat;
    position: absolute;
    z-index:3;
    height:213px;
    left:0;
    top:0;

}

.campList{
    float: right;
    width:125px;
    padding:50px 0 0 0;
    overflow: hidden;
    
}

.campList ul{margin:0; padding:0;}

.campList li{
  border: solid 1px #CCCCCC;
  background:#FFFFD2;
  list-style:none;
  margin:0 0 10px 0;
  padding:10px;
  color:#666666;
  line-height:16px;
  font-size:7pt;
}

.campList li a{color:#666666;}


.mainContent{
        
        padding:30px 10px 20px 10px;
        min-height:410px;
        _height:410px;
          color:#333333;
          line-height:16px;
         
     
    
         }


  .mainContentIndent{
        
        padding:30px 0 20px 25px;
        
          color:#333333;
          line-height:16px;
    }


.wideWrapper .mainContent{padding-bottom:0;}

.registerFinish{text-align:center; padding:25px 10px 45px 10px;}
.registerFinish h1{font-size:19px; padding-bottom:5px;}
.registerFinish img{margin:20px 0 30px 0;}

.footer{
    clear: both;
    width:625px; 
    margin:0 auto;
    text-align: center;
    font-size:7pt;
    padding:5px 0;
}

.footer a, .footer a:visited, .footer a:hover{margin:0 5px; color:#666666;}



 .errorPanelHP{position: absolute; top:40px; left:155px;}
  /* ### menu logged in ### */    
    
.topMenuLoggedIn{
    height:28px;
    background: transparent url('../images/solid.gif') 0 bottom repeat-x;
    padding:5px 0 0 0;
}  
  
.topMenuLoggedIn a, .topMenuLoggedIn a:visited, .topMenuLoggedIn a:hover{
    text-decoration: none;
    text-transform : uppercase;
    padding: 6px 10px 7px 10px;
    background: #FFFFFF;
    display: block;
    float: left;
    width:80px;
    border:solid 1px #FFFFFF;
    border-bottom:none;
    text-align:center;
    color:#999999;
    } 
    
.topMenuLoggedIn a:hover{ text-decoration: underline;}

.topMenuLoggedIn a.active, .topMenuLoggedIn a.active:visited, .topMenuLoggedIn a.active:hover{
    background: #FFFFFF;
    border-color:#B1B2B6;
    border-top-color:#CCCCCC;
    color: #000000;
    font-weight: 900;
    padding-bottom:8px;
    text-decoration: none;
}


.topMenuLoggedIn span{
    padding: 6px 0 7px 0;
    float: right;
    text-align:right;
    display: block;
    color:#999999;
    }

    .topMenuLoggedIn a.last, .topMenuLoggedIn a.last:visited, .topMenuLoggedIn a.last:hover{
    padding: 0;
    float: none;
    text-align:left;
    width:auto;
    display:inline;
    }

.topSubMenuLoggedIn{/*background: #E9E9E9;*/   border:solid 1px #B1B2B6; border-top:none; border-bottom:none; padding:0; height:21px;}

.topSubMenuLoggedIn a, .topSubMenuLoggedIn a:visited, .topSubMenuLoggedIn a:hover, .topSubMenuLoggedIn span{
    padding:5px 10px;
    display: block;
    float: left;
    width:80px;
     text-align:center;
     white-space:nowrap;
     text-decoration: none;
     color:#999999;
}

.topSubMenuLoggedIn a:hover{text-decoration: underline;}

.topSubMenuLoggedIn a.active, .topSubMenuLoggedIn a.active:visited, .topSubMenuLoggedIn a.active:hover{font-weight:900; text-decoration:none; color:#333333;}


.leftCont h1, .rightCont h1{padding-top:10px;}
 
 .rightCont{ float: right; width:280px; padding:20px 10px;}

.rightCont strong{color:#000000;}

 .leftCont{ float: left; width:280px; padding:20px 10px;}

 .leftCont a.btnBig, .leftCont a.btnBig:visited, .leftCont a.btnBig:hover{
    
    background: #FFFFFF url('../images/bg_btnBig2.gif') 0 bottom repeat-x;
    border: solid 1px #DA0000;
    
    }
 
 
 .leftCont ul.listSo{padding:10px 0 0 0; margin:0;}

 .leftCont ul.listSo li{
      
      background: transparent url('../images/palloncino.gif') 0 center no-repeat;
     list-style:none;
     margin:10px 0 0 20px;
     padding:3px 0 2px 20px;

     }
 
   .leftCont li strong{color:#488F3C;}   
     
.loginBox{
    border: solid 1px #CCCCCC;
    background: transparent url('../images/sfondo.png') 0 0 repeat;
    padding: 0 10px 10px 10px;
  
}

.loginBox input, .loginBox small{vertical-align:middle;}

.loginBox a, .loginBox a:visited, .loginBox a:hover{color: #666666;}

.loginBox p .right{
        padding-top:2px;
        _padding-top:4px;
      
    }

.leftCont p.centred, .rightCont p.centred{padding:0;}


.btnLogin{
    background:#FFFFFF;
    border:solid 1px #666666;
    font-weight: 900;
    font-size:7pt;
    padding:0;
}



 /*### register content ###*/

.stepBar{
    border: solid 1px #B1B2B6;
    border-left:0;
    border-right:0;
    margin:15px -10px 0 -11px;
    padding:0 0;
    height:19px;
    overflow:hidden;
    line-height:13px;
    }

.stepBar a, .stepBar a:hover, .stepBar a:visited, .stepBar span{
        padding:3px 10px;
        display: block;
        float: left;
        width:186px;
        text-align: center;
      color:#999999;
        text-decoration: none;
        border-left:solid 1px #B1B2B6;
    }

.stepBar a.active, .stepBar a.active:hover, .stepBar a.active:visited, .stepBar span.active{
    background: transparent url('../images/backround2.jpg') 0 0 repeat-x;
    font-weight: 900;
      color:#488F3C;
       width:187px;
    
    }
    

 .organizeMatch{width:100%; margin:28px 0 0 0;}
 .organizeMatch td{vertical-align: bottom; border-spacing:0;}

.organizeMatch small{color:#666666;}

.registration {color:#000000; margin:0 0 0 -10px; width:100%;}


.registration td.infoReg, td.infoReg{
           text-align: justify;
           font-size:7pt;
           color:#666666;
           padding-left:10px;
           line-height:15px;
           
       }
.registration td.infoReg{width:230px; padding-left:20px;}

.registration td.label{font-weight:normal; width:120px; vertical-align: top; padding-top:13px;}

.registration td select, .registration td img{vertical-align: middle;}



.infoReg strong{color:#488F3C;}       
.warn, .infoReg strong.warn{color:#FF1000;}
.registration td{vertical-align: top; padding-right:20px;}
.registration td td{padding-right:10px;}


.registration .maximized{width:200px;}


.account {padding-right:0; }
.account table{margin-top:0; width:100%;}
.account .infoReg{padding-right:20px; vertical-align:top; width:250px; padding-top:5px;}
.account th{border:none; padding-top:22px;}
.account h2{color:#333333; font-size:8pt; border-bottom: solid 1px #990000;}
.account td.label{padding-right:20px;}
.account small{color:#666666; font-size:7pt;}


.preferences{width:500px; margin:0px 0 20px 0; border-collapse: collapse; border-spacing:0;}

.preferences th{color:#333333; padding:25px 10px 5px 0; font-weight:normal;}
.preferences td{border-bottom: solid 1px #E5E5E5; color:#666666; padding:4px 10px 0 0;}
.preferences td.right{padding-right:0; border-bottom:0;}


.privacy{background: transparent url('../images/lock.jpg') right 13px no-repeat;}



.topAlert{background:#FFFFD2; margin:0 -10px; padding:5px 10px; text-align:center; font-weight:900; color:#000000;}

.topAlert strong{color:#FF0000;}

.rightContInt{
  float: right;
  width:445px;
  padding:25px 0 0px 0;
  position:relative;
    }

    .rightContInt p{padding-top:15px;}

    .picSpinner{position:absolute; top:40px; left:-100px;}
    
.leftContInt{
    float: left;
    width:145px;
    
    }

.leftContInt h2{padding-top:0; text-align: right; margin-left:-10px;}

.contFullSpace{
        margin:40px 0 0px -10px; width:440px; 
        _margin:10px -5px 0px -5px;
      
        
    
    }

.contFullSpace div{ margin:0 auto;}


.contTab{
    height:26px;
    background: transparent url('../images/solid.gif') 0 bottom repeat-x;
    padding:2px 0 0 0;
}

.contTab .left{display: block; float: left; padding-top:6px; margin:0; width:280px;}

.contTab a, .contTab a:visited, .contTab a:hover{
    text-decoration: none;
   padding:5px 10px 3px 10px;
    background: #FFFFFF;
 
    white-space:nowrap;
    color:#999999;
    }

    .contTab a:hover{
       text-decoration: underline;
    }

.contTab .left a, .contTab .left a:visited, .contTab .left a:hover{

   padding:0;
 color:#333333;
    display: inline;
    float: none;
    width:auto;
    border:none;
    text-align:left;
    white-space:nowrap;
}


.contTab a.active, .contTab a.active:visited, .contTab a.active:hover{font-weight:900; color:#333333; text-decoration:none;/* border-color:#cccccc; border-bottom:solid 1px #FFFFFF;*/}

.contTabFix  a, .contTabFix  a:visited, .contTabFix  a:hover{
     display: block;
    float: right;
    width:80px;
    border:solid 1px #FFFFFF;
    border-bottom:none;
    text-align:center;

}

.contTabFix a.active, .contTabFix a.active:visited, .contTabFix a.active:hover{font-weight:900; color:#333333; text-decoration:none;border-color:#cccccc; border-bottom:solid 1px #FFFFFF;}

.underTbLnk{margin:0; padding:6px 0 0 0; }
.underTbLnk li{margin:0; padding:0 50px 0 0; list-style:none; display:inline;}
.underTbLnk a, .underTbLnk a:visited, .underTbLnk a:hover{  color:#999999;}
.underTbLnk .active a, .underTbLnk .active a:visited, .underTbLnk .active a:hover{  color:#333333; font-weight:900;}


.lblFrmUndLn{
  border-bottom:solid 1px #E5E5E5;
  color:#000000;
}



h1.titleFriend{color: #000000;}
p.subLine{border-bottom: solid 1px #CCCCCC; padding:2px 0; color:#000000;}
p.subLine a{color:#000000;}

td.subLine{border-bottom: solid 1px #E5E5E5; vertical-align: bottom;}


.roseCont{padding-right:0; padding-left:0px;}

.indentCont{padding-left:25px;}


.titleList{padding:2px 25px 3px 0; margin:6px 0 0 0; height:16px; border-bottom:solid 1px #cccccc; color:#333333;}

.highlightedHead{padding:2px 25px 3px 0; margin:20px 0 0 0; height:16px; background:#FFFEBE; color:#333333;}



/*## Calendar ##*/
.calCont table.fatherTable{margin:10px 0 0 0;}
.calCont table.fatherTable table{margin:1px 0 0 0;}
.calCont table.oldEvent th, .calCont table.nextEvent th{color:#666666;}
.calCont table.nextEvent{}
.calCont table.nextEvent th.nextEvent{color:#333333;padding-top:20px; }
.calCont table td{border-bottom:solid 1px #e5e5e5; padding:4px 5px 4px 0;}
.calCont table.nextEvent th.nextEventTitles{color:#666666;}


.calCont table.fatherTable td, .calCont table.fatherTable th{border-bottom:0; padding:0;}
.calCont table.fatherTable td td{border-bottom:solid 1px #e5e5e5; padding:4px 5px 4px 0;}
.calCont table.fatherTable td th{border-bottom:solid 1px #e5e5e5; padding:7px 5px 1px 0;}


.calCont table.fatherTable td td.ratings,
.calCont table.resultList td.ratings{width:70px; padding:0;}
.calCont table.resultList td.ratings{width:60px; }

.calCont table.fatherTable td td.ratings table,
.calCont table.resultList td.ratings table{margin:0;}
.calCont table.fatherTable td td.ratings table td,
.calCont table.resultList td.ratings table td{padding:0; border:0; width:23px; white-space:nowrap;}
.calCont table.resultList td.ratings table td{width:20px;}

td.ratings table td img{vertical-align:middle;}

.calCont table.resultList{margin:11px 0 0 0;}
.calCont table.resultList th{padding:7px 5px 1px 0; border-bottom:solid 1px #e5e5e5; }

.stdList td{border-bottom: solid 1px #D5DfE1; padding:4px 10px 4px 0;}
.stdList th{border-bottom: solid 1px #D5DfE1; padding:20px 10px 4px 0; color:#666666;}
.stdList th a , .stdList th a:visited, .stdList th a:hover{color:#666666;}
.stdList th.acceptCell,.stdList td.acceptCell  {background:#FFFEBE; text-align:center; color:#333333; width:70px; padding-left:0;padding-right:0;}
.stdList td.play{padding-right:0;}



td.delete a, td.delete a:visited, td.delete a:hover,
a.delete, a.delete:visited, a.delete:hover
{color:#FF7E7E; font: 900 8pt Verdana; text-decoration:none;}

td.delete{width:40px; text-align:center;}

.deleteLink {color:#FF7E7E; font: 900 7pt Verdana;}

.play{width:35px; }

.openClose{width:25px;}


table.myRose{margin-top:40px;}

table.myRose th{border-color:#4965b8;}

table.myRose .cellTitle{background:#4965b8; color:#FFFFFF; }

table.myRose th.gk, table.myRose td.gk{padding-left:10px;}

table.myRose th.spInd{background:#4965b8; width:25px;}

table.myRose td.spInd{border:none;}

table.myRose .ownerName{color:#4965B8;}

.matchPlay, 
a.matchPlay, 
a.matchPlay:visited, 
a.matchPlay:hover,
.roseCont table a.matchPlay, 
.roseCont table a.matchPlay:visited, 
.roseCont table a.matchPlay:hover
{color:#488F3C;font-size:8pt;}

.matchOrg, 
a.matchOrg, 
a.matchOrg:visited, 
a.matchOrg:hover,
.roseCont table a.matchOrg, 
.roseCont table a.matchOrg:visited, 
.roseCont table a.matchOrg:hover
{color:#FF0000;font-size:7pt;}

fieldset{border: none; margin:0; padding:0;}

fieldset label{margin:0 15px 0 0;}
/* all gokickers */


tr.active td{background:#F5F5F5;}

.headList {margin:25px 0 0 0; color:#333333;}

.headList a{color:#666666; margin-left:5px;}

.headList a.showHideSB{margin-left:0;}

.headList .tabBoxSearch a{background:#F5F5F5;}

.searchBox{background:#F5F5F5; margin:15px 0 0 0; color:#666666; padding:8px 5px 5px 0;}

.searchBox table{margin:0;}

.searchBox table td{border:none;padding:2px 5px 4px 0;}
.searchBox table td label,
.searchBox table td a, 
.searchBox table td span, 
.searchBox table td input, 
.searchBox table td select,
.searchBox table td img
{vertical-align: middle;}

.searchMenu{
  border-top: dotted 1px #808080;
  margin: 10px -5px 0 0;
}

.searchMenu table{width:auto;}

.searchMenu table td{
  padding:5px 10px 0 0;
}




.searchMenu td a, .searchMenu td a:visited, .searchMenu td a:hover{color:#666666; text-decoration:none;}

.searchMenu td a:hover{text-decoration:underline;}

.pagelinks{text-align:right; padding:10px 10px 0 0; font-size:7pt;}

.pagelinks big{font-size:9pt;}

.pagelinks a, .pagelinks a:visited, .pagelinks a:hover{text-decoration:none; color:#999999; padding:0; margin:0;}
.pagelinks a:hover{text-decoration:underline; }

table.allUserList{ margin:25px 0 0 0;}

.allUserList .first{ border:none; width:17px; padding-left:4px; padding-right:4px;}

.maxiTab{background: transparent url('../images/solid.gif') 0 bottom repeat-x; margin-bottom:20px; height:40px;}
.maxiTab a, .maxiTab a:visited, .maxiTab a:hover{
    display: block;
    border: solid 1px #FFFFFF;
    border-bottom:none;
    width:49.5%;
    text-align: center;
    font-size:12pt;
    text-decoration: none;
    float: left;
    padding:5px 0;
    margin:10px 0 0 0;
    color:#999999;
    
    }

    .maxiTab a:hover{text-decoration:underline;}

   .maxiTab a.active, .maxiTab a.active:visited, .maxiTab a.active:visited{ border-color:#cccccc; border-bottom:solid 1px #FFFFFF; color:#333333; font-weight:900; text-decoration:none;}
   
  .addSC{ width:400px; margin:20px auto;}

   .addSC td{vertical-align: bottom;}

  .addSC td.subLine{ white-space: nowrap;}



.conventioned {background:#FFFEBE;}   

/* GIOCA */





.teamColumn{width:48.6%; margin:0px 0 0 0;}

.teamColumn h2{color:#333333; padding:10px 0 0 15px;}

.teamColumn .btn, .teamColumn a.btn, .teamColumn a.btn:visited, .teamColumn a.btn:hover{background:#4965b8;}

.teamMainInfo{
    padding:5px 15px 10px 15px;
    margin:3px 0 0 0;
    background: #f5f5f5;
    border-top: solid 2px #3a822e;
    color:#333333;
}


.teamMainInfo table{width:100%;}

.teamMainInfo td{padding:5px 0 0 0 ;}

.teamColumn textarea{width:95%; margin:5px 0 8px 0; height:50px;}

.teamColumn .indentCont h2{padding:0;}


.playerHead{margin:10px 0 0 0; width:95%; color:#000000;}

.playerHead .left, .playerHead img, .playerHead .left a{vertical-align:middle; color:#333333;}

.playerHead .left img{margin: 0 3px 0 0;}

.playerHead span.delete{padding:15px 5px 0 0;}

.playerScore{clear:both; padding: 0 0 0 10px;}

.playerScore td{padding:3px 5px 0 0; font-size:7pt; color:#666666;}

.aut{color:#ff5003;}
.goal{color:#2b771f; font-weight: bold;}


.orgMatch{width:290px; margin:10px 0 0 0;}

.orgMatch .indent{padding:0 0 0 10px;}

.orgMatch h2{color:#333333; padding:2px 0 3px 5px;   border-bottom: solid 2px #3a822e; font-size:8pt;}

.orgMatch h3{color:#333333; padding:20px 0 3px 0; margin:0;  font-size:8pt;}

.orgMatch h2 span, .orgMatch h3 span{font-weight:normal;}

.orgMatch h2.centred a, .orgMatch h2.centred a:visited{color:#666666;}

.placesLeft{text-align:right; color:#666666;}

.gameADV{
    background: transparent url('../images/campetto_gioca.jpg') 0 0 no-repeat;    
    height:165px;
    text-align: center;
    color: #000000;
    padding:15px 0 0 0;
}

.gameADV a, .gameADV a:visited, .gameADV a:hover{color:#333333;}

.orgMatch.left td{vertical-align: top;}

.orgMatch.right{width:293px;}

.orgMatch .indent table{margin:0;}
.orgMatch .indent td{padding:15px 5px 0 0 ;}

.guiPlayer {margin:1px 0 0 0; width:100%;}
.guiPlayer th.caption {border-bottom: solid 0px ;}
.guiPlayer th{color:#333333; padding:0 5px 1px 0;   border-bottom: solid 2px #3a822e; font-size:8pt; }
.guiPlayer th a{color:#333333; }
.guiPlayer td{padding:0 5px 0 0; border-bottom:solid 1px #E5E5E5; height:25px; color:#333333; }
.guiPlayer td.first{width:15px; color:#000000;}
.guiPlayer td a{color:#000000; }
.guiPlayer td a.light{color:#666666; }
.guiPlayer td.delete{width:20px;}
.guiPlayer td.delete a, .guiPlayer td.delete a:visited, .guiPlayer td.delete a:hover{color:#FF7E7E;}
.requestPlayer{width:100%;}

.requestPlayer thead{display:none;}
.requestPlayer td{padding:5px; border-bottom:solid 1px #E5E5E5; color:#333333;}
.requestPlayer td a{color:#333333;}


#playersStatusContainer h3 a{color:#666666;}

.calendarInfoNotRecorded td{color:#999999;}


.calendarHighlightedLine{background-color: #b4f0a9;}
.calendarHighlightedLine2{background-color: #ffd6af;}
.userAllHighlightedLine{background-color: #F5F5F5;}

.calendarFriendMatch a, a:visited, a:hover{color: #4965B8;}
.calendarNotFriendMatch a, a:visited, a:hover{color: #333333;}

.lblMatch{color:#488F3C;}
.lblEvent{color:#4965B8;}
.lblchallenge{color:#FF0000;}
.lblGrey{color:#666666;}



/* REPORT */
.reportCurrentUser{background: #deecdd;}

.teamColumn .reportCurrentUser{background: #FFFFFF;}

.teamInfoReportMatchDetail .teamMainInfo {padding:2px 15px 10px 0;
    margin:3px 0 10px 15px;
    background: #FFFFFF;
    color:#666666;
}

.teamInfoReportMatchDetail .playerHead{width:auto; margin:0;}

.teamInfoReportMatchDetail h2{font-size: 13pt; height:16px; padding-top:0; }

.teamColumn .teamInfoReportMatchDetail .playerHead .left{width:10px; margin:15px 0 0 0; text-align: right;}
.teamColumn .teamInfoPlayerDetail .playerHead .right{width:277px; border-top: solid 1px #cccccc;}
.teamColumn .firstPlayer .playerHead .right{border: none;}
.teamColumn .reportCurrentUser .playerHead .right{background-color: #F5F5F5;}



.playerResultInfo{width:100%;}

.playerResultInfo td{padding:0 5px 0 0;}

.playerResultInfo td.playerVote{font-size:12pt; padding-right:5px; width:35px;  color:#488F3C; font-weight:900; text-align: right; }

.playerResultInfo td.playerScore{ text-align: right; width:65px; color:#999999; font-weight:900; white-space:nowrap; padding-right:10px;}

.playerResultInfo td.pic{width:50px;}

.role{color:#999999; display: block; text-transform:uppercase;}

.teamColumn .teamInfoPlayerDetail .playerReview {margin:0 0 0 15px; padding:5px 0 15px 0;
  color:#666666;
}

.reportCurrentUser .playerReview {background-color: #F5F5F5;}

.averageRating{padding:0 0 0 15px; margin:0px 0 0 50px; font-size:8pt; color:#666666;}
.averageRating strong{color:#404040; }
.averageRating table{width:100%; margin:5px 0 2px 0;}
.averageRating td{padding:3px 0  2px 0; border-bottom: solid 1px #cccccc; }

.boxReview{padding:20px 0 60px 15px; }
.boxReview h3{color:#000000; border-bottom: solid 2px #488F3C;  margin:0; padding:25px 0 2px 0;}

.boxReview p{line-height:18px; text-align: left; color:#666666;}

.sportCenterAllHighlightedLine, .highlightedLine{ background-color: #FFFEBE; }

a.showHideBoxLink, a.showHideBoxLink:visited{color:#666666; margin-left:0;}

.commentList{width:100%;}

.roseCont .commentList td, .roseCont .commentList th{border:none; padding:0;}

.picPost{float: left; width:50px; height:50px; border-top: dotted 1px #cccccc; padding-top:13px;}
.infoUserPost{float: left; width:410px; border-top: dotted 1px #cccccc; height:49px; padding:13px 0 0 10px;}
.infoUserPost a, .infoUserPost a:visited, .infoUserPost a:hover{color:#000000;}
.actionPost{float: right; width:126px; text-align:right; border-top: dotted 1px #cccccc; padding-top:13px; height:49px;}
.actionPost p{padding:0px 0 0 0;}
.actionPost a{ margin:0 10px 0 0;}

.datePost{color:#666666; width:70px; padding:0 0 0 0; font-size:7pt;}
.countPost{color:#666666; width:50px; float: left; padding:0px 0 0 0; font-size:7pt; text-align:center; }

.textPost{float:right; width:527px; padding:25px 10px 33px 0; color:#000000; overflow: hidden; line-height:15pt; }
.textPost p{padding:5px 0 0 0;}
.textPost br{background:red;}

p.backTop{text-align:right; color:#666666; font-size:7pt; padding:5px 0 0 0;}

.backTop a, .backTop a:visited{color:#666666; }

.insertCommentBox{padding:0 0 10px 85px; margin-top:-16px;}
.insertCommentBox .subLine{color:#333333; margin:0 0 5px 0;}
.insertCommentBox .right{margin:25px 10px 0 0;}
.insertCommentBox form{padding-right:10px;}



/*### CancelAccount ###*/

.contCancelAccount{padding-top:20px; color:#000000;}
.contCancelAccount p{padding-top:32px;}
.contCancelAccount big{padding-top:32px; text-transform:uppercase; color:#FF0000; font-weight:900; font-size:10pt;}

/*### scheda ###*/

.schedaPic{float:right; width:210px; text-align: center; margin:25px 0 0 0;

}

.schedaPic a{color: #666666;  margin:0 5px;}

.schedaInfo{
  float: left;
  width:380px;
  margin:22px 0 0 0;
}

.schedaInfo .lblFrmUndLn{color:#333333;}

.titleBig{color:#45994c; font-size: 14pt; padding-top:15px; text-transform:none;}
.titleBig small{font-size:13pt;}

.topPageWrap .titleBig{padding-top:5px;}

.popUpFix{width:620px; background:#FFF;}

/* HP */

.mainHP{
  min-height:100px;
  _height:100px;
  padding:10px 0 0 0;
}

.contentHP{padding:14px 0 0 14px ; position:relative;}
.loginForm {margin-top:-10px;}
.loginForm td{padding:0 5px 5px 0;}
.loginForm td a, .loginForm td a:hover, loginForm td a:visited, .loginForm td label{color:#666666;}
.loginForm td a, .loginForm td label, .loginForm td input{vertical-align:middle;}
.loginForm img{vertical-align:bottom; margin:0 0 0 5px;}

.loginBoxHP{
  position:absolute;
  background:#FFFFFF;
  width:299px;
  height:84px;
}


.loginBoxHP .btn{width:70px; padding-left:0; padding-right:0;}

.loginBoxHP input, .loginBoxHP label{vertical-align:middle;}

.loginBoxHP td{padding:0 5px 5px 0;}

.loginBoxHP li{line-height:10px;}

.footHP{
  background:#F5F5F5;
 border-top: solid 1px #CCCCCC;
        text-align: center;
        padding:20px;
        margin:14px 0 0 0;
}

/* hp logged*/

.messageArea{
}

.messageArea p{
  background:#fffebe;
  text-align: center;
  border: dotted 1px #cccccc;
  border-left:none;
  border-right:none;
  padding:3px 0;
  margin-bottom:20px;
}

.avatar{float: left; margin:0 10px 0 0;}

.contHPlogged{padding:0 10px 10px 10px;}

.contHPlogged .rightHP{float: right; width:285px;}
.contHPlogged .leftHP{float: left; width:285px;}

.contHPlogged .rightHP .maximized {margin:5px 0 0 0;}
.contHPlogged .rightHP .maximized td{padding-top:5px;}

.contHPlogged h2{font-weight:900; font-size:8pt; background:#f5f5f5; border-bottom:solid 2px #999999; padding:5px 0; color:#000000; margin:5px 0 0 0;}
.contHPlogged .leftHP h2, .contHPlogged .rightHP h2{margin:0;}
.usersStripe{padding-top:5px; margin-left:-5px;}
.usersStripe img{float:left; margin:0 0 0 5px;}

.contHPlogged .rightHP td img{ vertical-align: middle;}


.rightColHP{float:right; width:250px; margin:0px; padding: 0 0 0 10px; overflow:hidden;}
.rightColHPnotLog{float:right; width:250px; margin:0 0 0 0;}

.bottomAction{padding:2px 0 0 3px; margin:0 0 0 0; float:left;}
.bottomAction input[type='checkbox'],  .bottomAction label, .bottomAction select, .bottomAction span{vertical-align:middle; margin:0; padding:0;}

/* ### end HP ### */

.tooltip {
  BORDER-RIGHT: #9F73AE 1px dashed;
  PADDING-RIGHT: 8px;
  BORDER-TOP: #9F73AE 1px dashed;
  PADDING-LEFT: 8px;
  FONT-SIZE: 8pt;
  VISIBILITY: hidden;
  PADDING-BOTTOM: 0px;
  MARGIN: 0px;
  BORDER-LEFT: #9F73AE 1px dashed;
  PADDING-TOP: 0px;
  BORDER-BOTTOM: #9F73AE 1px dashed;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
  POSITION: absolute;
  BACKGROUND-COLOR: #D1C9EB;
  
}

.linkUnderline,  a.linkUnderline, a.linkUnderline:visited, a.linkUnderline:hover{text-decoration: underline;}


#idBoxSearchDisplay, #idBoxSearchHide{margin: 0;}


#yuiSpinner{height:14px;}


.btnMenu{float:right;position:relative;}

.cntBtnGk{
  border:solid 1px #cccccc;
   display: block;
 float:left;   
     background:#E3E3E3;
     font-weight:bold;
     position:relative;
     top:4px;
     z-index:10;
}
.btnGkTopShadow{
    background:  #F9F9F9;
    border-bottom: 3px solid #EEEEEE;
    line-height: 9px;
    margin-bottom: -12px;
}

.btnGkInner{padding:1px 5px 4px 5px; height:15px;}
.cntBtnGk:hover{border-color:#000; cursor:default;}

.cntBtnGk:active{ background: #F9F9F9;}
.cntBtnGk:active .btnGkTopShadow{ background:  #E3E3E3; }

.pntDwn{display:block;  width:7px;  background: url('../images/pnt_dwn.gif') center 8px no-repeat; text-indent:-999999px;}

.toggleMenu{border:solid 1px #cccccc; background:#FFF; width:200px;right:-1px;position:absolute;top:25px; text-align:right; padding:20px 0;}
.toggleMenu ul, .toggleMenu li{padding:0; margin:0; list-style: none;}
.toggleMenu a, .toggleMenu a:hover, .toggleMenu a:visited, .toggleMenu span{background:transparent; display:block; color:#999999; padding:5px 20px 4px 10px; cursor:default;}
.toggleMenu a:hover{cursor:pointer;}

.LBtitle{background:#488f3c; color:#FFFFFF;padding:7px 0 7px 35px; position:relative;}
.LBclose{ background: url('../images/close_window.jpg') 0 0 no-repeat; display:block; width:15px; height:15px; position:absolute; top:10px; right:10px; text-indent:-999999px;}
.LBsplitLeft{width:45%; float:left; padding:20px 0 0 10px;}
.LBsplitRight{width:45%; float:right;padding:20px 15px 0 0;}
.LBsplitRight textarea.maximized{width:95%;}

.callupMenu{padding:10px 10px 10px 35px;}
.callupMenu li{padding-right:20px;}
.callupMenu li.activeDis a{}


.LBsearchLink{position:absolute; top:32px;  right:1px; padding:10px 25px 10px 25px; }
.LBsearchLinkOn{background:#F5F5F5; font-weight:bold;}




.LBsearchBox{padding:5px 5px 10px 5px; margin-top:0px; margin-left:35px;}
.LBsearchBox fieldset label{margin-right:5px;}
.spiritBox{color:#666666;padding-bottom:40px; }
.LBsearchBox .cntBtn{margin-top:-35px;}


.spiritBox .tl{font-size:10pt; font-weight:bold; color:#488f3c; font-style: italic; vertical-align:top; margin-right:5px; position:relative; top:1px;}
.spiritBox p{padding-top:10px;  line-height:12pt;}
.spiritBox p a, .spiritBox p a:visited{color:#488f3c;}

.callUpMsgBox{ color:#666666;}
.callUpMsgBox .tl{}
.callUpMsgBox .msg{padding:5px 0 0 0;}
.callUpMsgBox .note{color:#999999;}
.callUpMsgBox .contBtn{padding-top:60px;}

.callUpWarn{ padding-top:15px;}

.callUpWarn b{font-weight:normal; font-size:7pt; color:red;}


.tlPlayerToCallUp{color:#666666;font-size:10pt; vertical-align:top; padding-left:25px;}

.LBsplitLeft .guiPlayer th{border-bottom:1px solid #CCCCCC;padding-bottom:5px;}

.LBsplitLeft .guiPlayer td.currentUser{background:#fffebe;}
.LBsplitLeft .guiPlayer td.currentUser{background:#fffebe;}

.LBsplitLeft  .guiPlayer tr th:first-child, .LBsplitLeft  .guiPlayer tr td:first-child{border:0; background:transparent!important;}
p.noSpam {color: #666666; font-size:7pt; line-height:12pt;}
p.noSpam strong{color:#488F3C;}

.LBsplitLeft  .guiPlayer .first{width:10px;}
.LBsplitLeft  .guiPlayer .pic{width:50px;}


.extGokickersList{margin: 10px 0 0 20px;}
.extGokickersList td{padding:0 0 0 5px;}


.callupExt input{color:#999999; padding-top:1px; padding-bottom:0;}
.callupExt select{font-size:7pt;}

.LBsplitLeft .guiPlayer small.additionalInfo{color:#666666;display:block; padding-top:3px;}

/*INVITE TO MATCH*/
.frmInvite {margin-left:35px;}
table.frmInvite {margin-top:10px;}
h2.frmInvite{padding-top:10px; font-size:8pt;}
.frmInvite th, .frmInvite td{padding-top:5px; vertical-align:top;}
.frmInvite th{font-weight:normal; vertical-align:top; color:#666; width:105px;}
.frmInvite small{color:#666; display:block; padding-top:3px;}
.frmInvite #yuiSpinner{height:12px; margin-left:5px;}
.frmInvite textarea{width:320px; height:45px; color:#666666;}
.frmInvite p.noSpam{padding:5px 0 0 0;}
.frmInvite .callUpWarn{padding-top:3px;}
.frmInvite .callUpWarn b{font-size:8pt;}

/*INVITI TO SITE*/
.frmInviteToSite {margin-top:10px;}
.frmInviteToSite th, .frmInviteToSite td{padding-top:10px; vertical-align:top;}
.frmInviteToSite th{font-weight:normal; vertical-align:top; color:#666; width:95px;}
.frmInviteToSite small{color:#666; display:block; padding-top:3px;}
.frmInviteToSite #yuiSpinner{height:12px; margin-left:5px;}
#idDivImport{border-bottom:1px solid #CCCCCC; padding:0 0 20px 0; margin-right:20px;}
.frmInviteToSite textarea{width:400px; color:#666666;}
.frmInviteToSite .callUpWarn{padding-top:5px;}
.frmInviteToSite .callUpWarn b{font-size:8pt;}

.stringFixWrap{ word-wrap: break-word; max-width:220px;}


.importContactWrap{padding:10px 0 20px 75px;}

.importContactLst{margin:0; padding:0;}

.importContactWrap td{padding:4px 5px 0 0; color:#000000;}
.importContactWrap th{color:#666666;padding:25px 5px 0 0;}
.importContactWrap input{padding:0; margin:0;}


.yui-skin-gokick  table.frmAbuseNotify{margin:0 0 0 35px;width:auto;}
.frmAbuseNotify td{padding:15px 15px 0 0;}
.frmAbuseNotify .right{vertical-align:top; padding-right:5px;}
.frmAbuseNotify select{width:380px;}
.frmAbuseNotify textarea{width:375px; height:100px;}
.frmAbuseNotify .errorMessage{padding-bottom:8px;}



/*Organize Match*/

.pageMenu{padding:5px 0 0 0; margin:0;}
.pageMenu li{padding:0; margin:0 55px 0 0 ; display:inline; list-style: none;}
.pageMenu li a, .pageMenu li a:visited, .pageMenu li a:hover{color:#999999;}
.pageMenu a.active, .pageMenu a.active:visited, .pageMenu a.active:hover{font-weight:900; color:#333333;}

.organizeCol1{width:285px; float:left; padding:35px 0 0 0; font-size:10pt; color:#909193; line-height:150%;}
.organizeCol2{width:285px; float:right; padding:35px 10px 0 0;}

.organizeCol1 h2{font-size:20pt; padding:0;}
.organizeCol1 p{padding:15px 0 0 0;}
.organizeCol1 u{color:#488F3C;}
.organizeCol2 .cntFld {padding:15px 0 0 0;}
.organizeCol2 .cntFld textarea{width : 284px; height: 60px; resize:none; font-size:12px; color:#999999;}
.organizeCol2 .cntFld textarea.readyToWrite, .readyToWrite{color:#333333;}

.organizeCol2 .cntChBx{text-align:center; padding:3px 0 0 0; color:#999999;}
.organizeCol2 .cntChBx input, .organizeCol2 .cntChBx span{vertical-align:middle;}

.organizeCol2 .cntBtn{padding:20px 0 0 0; text-align:center;}
.organizeCol2 .btn{font-size:13px;padding:7px 40px;
//padding:7px 4px;
}
.organizeCol2 .error{color:#FF1000; font-size:8pt; padding:20px 0 0 0; text-align:center;}

.cntCardLst {padding:30px 0 0 0;}
.cntCardLst h3{font-size:14pt; padding:10px 0 10px 0;}
.cntCardLst h3 span{color:#909193;}
.cntCardLst td{padding:0;}
.cntCardLst td img{float:left;margin:4px 4px 0 0;}
.cntCardLst .lnkMore{padding:5px 0 0 0;}
.cntCardLst .lnkMore a{color:#488F3C;}

.dreamTemInfo{color:#909193; padding-top:20px;}




.txtAreaFx input{border:0;font-size: 0;width:0; height:0;}/*Fix textarea IE8*/