body {
    background: #FFFFFF;
}

body.userDetails {
    background: #488f3c;
}

.content {
    margin: 0 20px;
    background: #FFFFFF url('../images/bottom_scheda.jpg') center bottom no-repeat;
    height: 463px;
    padding: 5px 15px;
}

.topMenuLoggedIn {

    margin: 0 0 0 187px;
    background: none;
    height: 27px;
}

.topMenuLoggedIn a, .topMenuLoggedIn a:visited, .topMenuLoggedIn a:hover {
    background: #488f3c;
    border-color: #488f3c;
    color: #FFFFFF;
    padding: 4px 22px 2px 22px;
    margin-top: 4px;
}

.topMenuLoggedIn a.active, .topMenuLoggedIn a.active:visited, .topMenuLoggedIn a.active:hover {
    background: #FFFFFF;
    padding-bottom: 5px;
    color: #333333;
}

.topInfo {
    font-size: 10pt;
    color: #000000;
    border-bottom: solid 2px #499d50;
    padding: 11px 0 3px 0;
    margin: 0 0 10px 0;
}

table.infoList {
    width: 100%;
}

table.infoList td {
    padding: 3px 10px 1px 0;
    border-bottom: solid 1px #E5E5E5;
    color: #333333;
}

table.infoList td p {
    padding-top: 15px;
}

table.infoList td.valueField, .valueField {
    color: #666666;
}

table.infoList td.picCol {
    padding: 0px 20px 1px 20px;
    width: 35%;
    vertical-align: top;
}

table.infoList .spot td {
    border: none;
}

table.infoList td.picCol .left,
table.infoList td.picCol .right {
    width: 80px;
    text-align: center;
    margin: 6px 0 0 0;

}

table.infoList td.picCol .left img,
table.infoList td.picCol .right img {
    margin: 5px 0;

}

body.userDetails .friendList td {
    padding: 5px 5px 5px 0;
}

.contStats {
    height: 250px;
}

.userStatistics table {
    font-size: 8pt;
    width: 100%;
}

.userStatistics th {
    font-size: 8pt;
    color: #666666;
    font-weight: normal;
    padding: 5px;
    text-align: center;
}

.userStatistics td {
    border: solid 1px #d5dfe1;
    padding: 5px 3px;
    text-align: center;
}

.userStatistics td.first {
    border-left: none;
    padding-left: 0;
}

.userStatistics td.last {
    border-right: none;
    padding-right: 0;
}

.userStatistics th.lblTotGoals, .userStatistics td.lblTotGoals {
    color: #FF5002;
}

.userStatistics th.lblMatch, .userStatistics td.lblMatch {
    color: #488F3C;
}

.userStatistics th.lblchallenge, .userStatistics td.lblchallenge {
    color: #FF0000;
}

.userStatistics center {
    color: #666666;
    line-height: 18px;
    margin: 20px 0 0 0;
    padding: 0;
}

.userStatistics small {
    font-size: 8pt;
    padding: 0 10px 0 0;
}

.paging {
    text-align: center;
}

.paging a, .paging a:visited, .paging a:hover {
    text-decoration: none;
}

.paging a.active {
    color: #488F3C;
    text-decoration: underline;
}

.userFeedback table {
    width: 100%;
    margin: 10px 0 0 0;
}

.fbDetail {
    padding: 15px 0 0 0;
}

.fbDetail span {
    padding: 0 30px 0 0;
}

.userFeedback th {
    color: #666666;
    font-size: 9pt;
    border-bottom: solid 1px #CCCCCC;
    padding: 5px 5px 2px 0;
}

.userFeedback td {
    padding: 6px 15px 0 0;
}

.userFeedback td p {
    padding: 4px 0 0 0;
}

.userFeedback td input, .userFeedback td select, .userFeedback td small {
    color: #666666;
    font-size: 8pt;
}

.userFeedback td input.btn {
    color: #FFFFFF;
}

/*## friendInvite ###*/

.header {
    width: 75%;
}

body.friendInvite table {
    margin: 20px;
}

body.friendInvite td {
    vertical-align: top;
    padding: 20px 10px 0 0;
}

body.friendInvite td p {
    padding-top: 5px;
}

body.friendInvite small {
    color: #666666;
}

/*## registerFriendToMatch ###*/

.registerFriendToMatch {
    width: 363px;
    padding-bottom: 10px;

}

.registerFriendToMatch h1 {
    background: #488F3C;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 10px;
    font-size: 10pt;
}

.registerFriendToMatch .roseCont {
    margin: 0 0 0 10px;
}

.registerFriendToMatch h2 {
    margin: 10px 0 0 25px;
    border-bottom: solid 1px #CCCCCC;
    color: #333333;
    font-size: 9pt;
}

.registerFriendToMatch h2 small {
    font-weight: normal;
    font-size: 8pt;
}

.registerFriendToMatch table.friendList td {
    padding: 5px 0;
}

.registerFriendToMatch table.friendList th {
    color: #333333;
    border-bottom: solid 1px #CCCCCC;
    padding: 8px 0 3px 0;
}

.registerFriendToMatch table.friendList th a, .registerFriendToMatch table.friendList th a:visited {
    color: #333333;
}

.registerFriendToMatch table.friendList th.centred a, .registerFriendToMatch table.friendList th.centred a:visited {
    color: #666666;
}

.registerFriendToMatch table.friendList td.first,
.registerFriendToMatch table.friendList th.first {
    border: none;
    width: 22px;
}

.registerFriendToMatch .extGokickersList {
    width: auto;
    margin: 20px 0 0 22px;
}

.registerFriendToMatch .extGokickersList td {
    border: none;
}

/*
.popupLeftCol{
  float: left;
  width:60%;

}

.popupRightCol{
  float: right;
  width:35%;
 }
*/

.friendShipBox {
    text-align: center;
    padding: 175px 0 0 0;
}

.friendShipBox h1 {
    color: #000000;
}

.friendShipBox p {

    padding: 20px 0 5px 0;
}

.friendShipBox a.btn, .friendShipBox a.btn:visited, .friendShipBox a.btn:hover {
    padding: 2px 15px;
}

body.invite {
    width: 486px;
}

body.invite .header {
    padding: 9px 0 4px 5px;
    width: auto;
}

body.invite table {
    margin: 20px 0 0 10px;
}

body.invite table td {
    padding: 5px 0;
}

body.invite table td.right {
    padding-right: 10px;
    white-space: nowrap;
    vertical-align: top;
}

body.invite table td p.noSpam {
    color: #666666;
    font-size: 7pt;
}

body.invite table td p.noSpam strong {
    color: #488F3C;
}

body.invite table td small {
    color: #666666;
}

body.invite p.sentResult {
    margin: 20px;
}

/*body.invite p.confirmMessage{width:auto; margin:0;}*/
body.invite p.sentBtn {
    margin-top: 100px;
    text-align: center;
}

body.invite p.noInvite {
    margin: 20px;
    text-align: center;
    padding: 100px 0 50px 0;
}

.fixInviteBox {
    height: 320px;
    background: lime;
}

.currentUser {
    background-color: #F5F5F5;
}